.vscode
/votesy-api/node_modules
/votesy-web/__pycache__
votesy-web/docker-compose.debug.yml
/Votesy.Results/bin
/Votesy.Results/obj
/Votesy.Service/bin
/Votesy.Service/obj
/votesy-web-react
/Votesy.Results.Blazor
Votesy.Service/docker-compose.debug.yml
Infrastructure/docker-compose.debug.yml
votesy-api/docker-compose.debug.yml
