body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  *{
    box-sizing:border-box;
  }
  
  
  button{
    border-radius: 0;
    width: 100%;
    height: 50%;
  }
  
  button[type="submit"] {
    -webkit-appearance:none; -webkit-border-radius:0;
  }
  
  button i{
    float: right;
    padding-right: 30px;
    margin-top: 3px;
  }
  
  button.a{
    background-color: #1aaaf8;
  }
  
  button.b{
    background-color: #00cbca;
  }

  button.a-unvoted {
    opacity: 0.5;
  }
  
  button.b-unvoted {
    opacity: 0.5;
  }

  button.resultsButton {
    background-color: yellow;
    border-radius: 0;
    width: 20%;
    height: 20%;
  }

  #hostname{
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
    color: white;
    font-size: 16px;
  }
  
  #content-container{
    z-index: 2;
    position: relative;
    margin: 0 auto;
    display: table;
    padding: 10px;
    max-width: 940px;
    height: 100%;
  }
  
  #content-container-center{
    display: table-cell;
    text-align: center;
  }
  
  #content-container-center h3{
    color: white;
  }
  
  #choice{
    transition: all 300ms linear;
    line-height: 1.3em;
    display: inline;
    vertical-align: middle;
    font-size: 3em;
  }
  
  #choice a{
    text-decoration:none;
  }
  
  #choice a:hover, #choice a:focus{
    outline:0;
    text-decoration:underline;
  }
  
  #choice button{
    display: block;
    height: 80px;
    width: 330px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size:18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 50px;
  }
  
  #choice button.a:hover{
    background-color: #1488c6;
  }
  
  #choice button.b:hover{
    background-color: #00a2a1;
  }
  
  #choice button.a:focus{
    background-color: #1488c6;
  }
  
  #choice button.b:focus{
    background-color: #00a2a1;
  }
  
  #background-stats{
    z-index:1;
    height:100%;
    width:100%;
    position:absolute;
  }
  
  #background-stats div{
    transition: width 400ms ease-in-out;
    display:inline-block;
    margin-bottom:-4px;
    width:50%;
    height:100%;
  }

  .results {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }

  .results i {
    padding:0 10px;
    display:inline;
  }

  .results a:hover {
    color: antiquewhite;
  }

  .App-footer {
    background-color: #282c34;
    min-height: 15vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .App-footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .App-footer li {
    padding:0 10px;
    display:inline;
  }
  
  .App-footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .App-footer ul a:hover {
    opacity:1;
  }
  
  .votesLabel{
    font-size: calc(12px + 2vmin);
    color: black;
    padding: 0px;
    margin: 0px;
  }

  .whole{
    display: inline-block;
    
  }
  
  .plan{
    width: 300px;
    background-color: white;
  
    border-radius: 0px 0px 0px 0px;
      font-family:'Open Sans';
      font-style:condensed;
      font-size: 90px;
      color: white;
      text-align: center;
  
  
  }
  .header{
    border-bottom: 1px solid #494a5a;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .type{
    width: 300px;
    border-radius: 5px 5px 0px 0px;
    background-color: #1aaaf8;
    height: 62px;
    border-bottom: 3px solid #1aaaf8;
  
  }

  .type-bottom{
    width: 300px;
    border-radius: 0px 0px 5px 5px;
    background-color: #1aaaf8;
    height: 62px;
    border-bottom: 3px solid #1aaaf8;
  
  }

  .copyright {
    font-size:13px;
    color:#aaa;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
}

.whole {
    flex: 1;
    margin: 10px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

sup {
  color: black;
}
  /* Credit to https://epicbootstrap.com/snippets/footer-basic */