<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Votesy! ✅</title>
</head>
<body>
    <div class="App">
        <header class="App-header">
            <h1>Votesy!</h1>
            <div id="content-container">
                <div id="content-container-center">
                    <h3>{{question.text}}</h3>
                    <form id="choice" name='form' method="POST" action="/">
                        <button id={{question.answer1Id}} name="vote" type="submit" class="a" value={{question.answer1Id}}>{{question.answer1Text}}</button>
                        <button id={{question.answer2Id}} name="vote" type="submit" class="b" value={{question.answer2Id}}>{{question.answer2Text}}</button>
                    </form>
                </div>
            </div>
            <a class="results" href="results"><i class="fa fa-check-square-o" aria-hidden="true"></i>View the Results!</a>
        </header>
        <footer class="App-footer">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href={{resultsUrl}}>Results</a></li>
                <li class="list-inline-item"><a href="https://github.com/ckriutz/Votesy"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Votesy © 2024 | Processed by container ID <b>{{hostname}}</b> | Question Id: {{question.RowKey}}</p>
        </footer>
    </div>

    {% if voting_history %}
    <script>
        var votingHistory = {{ voting_history | tojson }};
        var question = {{ question | tojson }};
        votingHistory = JSON.parse(votingHistory);

        // Check if question['RowKey'] exists in votingHistory
        var questionInHistory = votingHistory.some(item => item["question"] === question.RowKey);
        if (questionInHistory) {
            // They have answered this question before, so figure out which one they did, and select that.
            var answeredQuestion = votingHistory.find(item => item["question"] === question.RowKey);
            vote = answeredQuestion.answerId;
            
            const buttonA = document.getElementById("{{question.answer1Id}}")        
            const buttonB = document.getElementById("{{question.answer2Id}}")
            
            if(vote == "{{question.answer1Id}}")
            {

                buttonA.disabled = true;
                buttonA.innerHTML = "{{question.answer1Text}}<i class='fa fa-check-circle'></i>"
                buttonB.style.opacity = '0.5'
            }
            if(vote == "{{question.answer2Id}}")
            {
                buttonB.disabled = true;
                buttonB.innerHTML = "{{question.answer2Text}}<i class='fa fa-check-circle'></i>"
                buttonA.style.opacity = '0.5'
            }
        }

        // Log each item in votingHistory to verify its structure
        console.log(question.RowKey)
        votingHistory.forEach(element => {
            console.log(element.question);
        })


    </script>
    {% endif %}

    {% if vote %}
    <script>
        // Yo this is some weird Python in my JavaScript shit here.
        var vote = "{{vote}}";
        const buttonA = document.getElementById("{{question.answer1Id}}")        
        const buttonB = document.getElementById("{{question.answer2Id}}")

        if(vote == "{{question.answer1Id}}")
        {
            buttonA.disabled = true;
            buttonA.innerHTML = "{{question.answer1Text}}<i class='fa fa-check-circle'></i>"
            buttonB.style.opacity = '0.5'
        }
        if(vote == "{{question.answer2Id}}")
        {
            buttonB.disabled = true;
            buttonB.innerHTML = "{{question.answer2Text}}<i class='fa fa-check-circle'></i>"
            buttonA.style.opacity = '0.5'
        }
    </script>
    {% endif %}
</body>
</html>